/* ----------------------
 * - Bootstrap override -
 * ----------------------*/
 

.navbar-brand{
	padding: 7px;
}

/*-----------------------*/


html{
    height: 100%;
    overflow: hidden;
}

body{
    height: 100%;
}

.rs-full-height{
    height: 100%;
}

.rs-loginbutton{
	float: right;
	padding: 2px;
}

.rs-registerbutton{
	float: right;
	padding: 2px;
}

.rs-content-container{
    height: 100%;
}

.rs-sidebar-wrap{
    height: 100%; 
}

.rs-sidebar{
    z-index: 1;
    width: 300px;
    position: relative;
    left: 0;
    right: auto;
    background-color: #BADA55;
    height: 100%;
}

.rs-sidebar-comment-form{
    float: bottom;
    background: #bebebe;
    width: 300px;
    text-align: left;
    border: 5px solid #BADA55;
    border-radius: 10px;
    padding-bottom: 0px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.rs-sidebar-comment{
    margin: 0 auto;
    background: #bebebe;
    width: 300px;
    text-align: left;
    border: 5px solid #BADA55;
    border-radius: 10px;
    padding-bottom: 0px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.rs-map-wrapper{
    width: 100%;
    background-color: #ffffff;
    position: absolute;
    min-height: 100%;
    z-index: 2;
    overflow: hidden;
}

.rs-map-container{
	margin-top:60px;
	height: 100%;
	overflow: hidden;
    margin-right: 10px;
    margin-left: 10px;
}

.rs-img-resize{
	max-height: 100%;
	max-width: 100%;
	display: block;
}

.rs-img-resize-width{
    width: 100%;
    display: block;
}

.rs-center{
    margin-right: auto;
    margin-left: auto;
}

.rs-register-container{
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 6px;
    background-color: #bebebe;
    padding-bottom: 10px;
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
}

.rs-login-container{
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 6px;
    background-color: #bebebe;
    padding-bottom: 10px;
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
}

.rs-reg-form{
    margin: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}
