<!DOCTYPE html>
<html>
<head lang="en">
<meta charset="UTF-8">
<title>Room Service</title>


<!-- bootstrap css file -->
<link rel="stylesheet" href="bootstrap/css/bootstrap.css">

<script src="jquery/jquery-2.1.3.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>

<!-- own ccs file -->
<link rel="stylesheet" href="style/index.css">

<script src="src/index.js"></script>

<script src="image-map-resizer/js/imageMapResizer.min.js"></script>
<script>
    $(document).ready(function() {
        $('map').imageMapResize();
    });
</script>

</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class = "container-fluid">
        <div class="navbar-header">
		<a class="navbar-brand" href="/">
			<img alt="Brand" class="rs-img-resize" src="res/logo-small.png">
		</a>
        </div>
        <% if(typeof username === "undefined"){ %>
            <div class="rs-registerbutton">
            <a class="navbar-brand" href="/register">
                <button class="btn btn-default">Register</button>
            </a>
            </div>
            <div class="rs-loginbutton">
            <a class="navbar-brand" href="/login">
                <button class="btn btn-default">Login</button>
            </a>
            </div>
        <% }else{%>
            <p> Welcome <%= username %> </p>
         <%}%>
    </div>
</nav>
<div class="rs-content-container">
	<div class="rs-map-wrapper" >
		<div class="fluid-container rs-map-container">
            <img src="res/<%=link%>" alt="beganegrond" usemap="map" width="50%" height="50%">
	        <map name="map">
            </map>
            <br/>
			<button id="collapse" class="btn">Comments</button>
		</div>
	</div>
    <div class="rs-sidebar">
        <iframe id="rs-comments" class="rs-comment-frame" src="/comment?room=<%=name%>"></iframe>
    </div>
</div>
</body>
</html>
